[submodule "SQLiteCpp"]
	path = 3pp/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
	branch = master
[submodule "lest"]
	path = 3pp/lest
	url = https://github.com/martinmoene/lest
	branch = master
[submodule "pugixml"]
	path = 3pp/pugixml
    url = https://github.com/zeux/pugixml
    branch = master
